apiVersion: v1
kind: Service
metadata:
  name: {{ include "fe-web.fullname" . }}    # Service 이름 (DNS: <name>.<ns>.svc)
  labels:
    {{- include "fe-web.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}            # ClusterIP / NodePort / LoadBalancer (Ingress 사용 ⇒ ClusterIP 유지)
  ports:
    - port: {{ .Values.service.port }}        # 클러스터 내부 포트
      targetPort: {{ .Values.service.targetPort }}  # 컨테이너 포트
      protocol: TCP
      name: http
  selector:                                   # 연결할 Pod 선택 라벨
    {{- include "fe-web.selectorLabels" . | nindent 4 }}