{{- range .Values.global.namespaces }}
{{- $namespace := . }}
{{- $env := "development" }}
{{- if contains "prod" . }}
{{- $env = "production" }}
{{- else if contains "stg" . }}
{{- $env = "staging" }}
{{- end }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "openbao-secrets-manager.externalSecretName" $ }}
  namespace: {{ $namespace }}
  labels:
    {{- include "openbao-secrets-manager.labels" $ | nindent 4 }}
    app.kubernetes.io/component: external-secret
    environment: {{ $env }}
spec:
  refreshInterval: {{ $.Values.externalSecrets.externalSecret.refreshInterval }}
  secretStoreRef:
    name: {{ include "openbao-secrets-manager.secretStoreName" $ }}
    kind: SecretStore
  target:
    name: {{ include "openbao-secrets-manager.targetSecretName" $ }}
    creationPolicy: {{ $.Values.externalSecrets.externalSecret.target.creationPolicy }}
    {{- if $.Values.externalSecrets.externalSecret.target.template }}
    template:
      type: {{ $.Values.externalSecrets.externalSecret.target.template.type }}
      metadata:
        labels:
          {{- include "openbao-secrets-manager.labels" $ | nindent 10 }}
          {{- with $.Values.externalSecrets.externalSecret.target.template.metadata.labels }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          environment: {{ $env }}
      {{- with $.Values.externalSecrets.externalSecret.target.template.data }}
      data:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
  data:
  {{- range $.Values.externalSecrets.externalSecret.data }}
  - secretKey: {{ .secretKey }}
    remoteRef:
      key: {{ .remoteRef.key }}
      property: {{ .remoteRef.property }}
  {{- end }}
{{- end }}